
body {
    background-image: url("leaves.jpg");
    background-repeat: no-repeat;
	background-size:cover;



	
}


button#addFile {

font-size: 2em;

width: 200px;
color:pink;

height: 80px;

}

button#applyEffect {

font-size: 2em;
width: 200px;
color:blue;

height: 80px;
}



ul#ulButtons {

display: block;
position: absolute;
top: 100px	;


}

ul#ulButtons li{

display: outline;
margin: 30px ;



	
}