
body {
    background-image: url("img/leaves.jpg");
    background-repeat: no-repeat;
	background-size:cover;
}

#add {
	width: 300px;
	height: 140px;
}

#apply {
	width: 300px;
	height: 140px;
}


#download:hover{
	opacity: 1;
}
#ulButtons:hover {
	opacity: 1;
}
#eap:hover {
	opacity: 1;
}
#eap{
	opacity: 0.7;
}

#slider1{
	position: fixed;
	left: 50px;
	top: 160px;
}

#options{
	position: fixed;
	left: 55px;
	top: 110px;
}

#download{
	position:  fixed;
	left: 40px;
	top: 200px;
	opacity: 0.7;
}

ul#ulButtons {
	display: block;
	position: absolute;
	top: 350px	;
	font-style:Castellar;	
	opacity: 0.7;
}

ul#ulButtons li{
	display: block;
	margin: 40px ;	
	font-style:Chiller;
}

.image-upload > input
{
    display: none;
}

#myCanvas, #urCanvas, #ourCanvas{
	top: 5px;
	left: 600px;
	position: absolute;
}


